
h1 {color: rgb(232, 232, 233);
    text-align: center;
    line-height: 80px;
    font-family: 'Cinzel', serif;
    font-weight: bold
}
h2 {color: rgb(247, 248, 248);
}
p {
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    line-height: 50px;
}
.right-align {text-align:right;
}
.right-margin {padding-left:400px;
}
body {
    padding-left:75px;
    font-family: 'Quicksand', sans-serif;
}
html {
    background: url("misty-forest.jpg") no-repeat center center fixed;
    height: 100%;
    background-size: cover;
}
button {
    text-align: center;
    line-height: 40px;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
}